.grid.container {
	margin-top: 10px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.imagecolor-css{
	background-image: #008080;
}

.modal-text-css{
	width: 30rem;
}